
@import "src/styles/variable";

.loader-blog-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-sider {

  min-width: 300px!important;
  max-width: 300px!important;
  background-color: $white!important;
  border: 1px solid $grey;

  .scroll-container {
    //min-height: 595px;
    overflow-y: auto;
    padding: 0 16px;

    background-color: rgba(0, 0, 0, 0.09);

    .blog-items {
      cursor: pointer;
      border: unset;
    }

    .selected {
      border-left: 10px solid $primaryColor;
    }

  }

  .side-blog-list {
    border: unset;
  }


  .blog-search {
    position: sticky;
    top: 0;
    z-index: 1;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid $grey;
    .ant-card-body {
      padding-top: 10px;
    }
    box-shadow: 0 15px 10px -10px $grey;
  }

  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
}

